[submodule "Alumni"]
	path = Alumni
	url = https://github.com/GibbonEdu/module-alumni.git
[submodule "Badges"]
	path = Badges
	url = https://github.com/GibbonEdu/module-badges.git
[submodule "Credentials"]
	path = Credentials
	url = https://github.com/GibbonEdu/module-credentials.git
[submodule "Data Admin"]
	path = Data Admin
	url = https://github.com/SKuipers/module-dataAdmin.git
[submodule "Feed"]
	path = Feed
	url = https://github.com/GibbonEdu/module-feed.git
[submodule "Free Learning"]
	path = Free Learning
	url = https://github.com/GibbonEdu/module-freeLearning.git
[submodule "Help Desk"]
	path = Help Desk
	url = https://github.com/raynichc/helpdesk.git
[submodule "Higher Education"]
	path = Higher Education
	url = https://github.com/GibbonEdu/module-higherEducation.git
[submodule "House Points"]
	path = House Points
	url = https://github.com/SKuipers/gibbon-house-points.git
[submodule "Info Grid"]
	path = Info Grid
	url = https://github.com/GibbonEdu/module-infoGrid.git
[submodule "Meet The Teacher"]
	path = Meet The Teacher
	url = https://github.com/GibbonEdu/module-meetTheTeacher.git
[submodule "Moodle"]
	path = Moodle
	url = https://github.com/GibbonEdu/module-moodle.git
[submodule "Policies"]
	path = Policies
	url = https://github.com/GibbonEdu/module-policies.git
[submodule "Query Builder"]
	path = Query Builder
	url = https://github.com/GibbonEdu/module-queryBuilder.git
[submodule "Reporting"]
	path = Reporting
	url = https://github.com/yookoala/GibbonEduReporting.git
[submodule "ATL"]
	path = ATL
	url = https://github.com/GibbonEdu/module-ATL.git
