[submodule "Alumni"]
	path = Alumni
	url = https://github.com/GibbonEdu/module-alumni.git
[submodule "Badges"]
	path = Badges
	url = https://github.com/GibbonEdu/module-badges.git
[submodule "Credentials"]
	path = Credentials
	url = https://github.com/GibbonEdu/module-credentials.git
[submodule "Data Admin"]
	path = Data Admin
	url = https://github.com/SKuipers/module-dataAdmin.git
