[submodule "Alumni"]
	path = Alumni
	url = https://github.com/GibbonEdu/module-alumni.git
[submodule "Badges"]
	path = Badges
	url = https://github.com/GibbonEdu/module-badges.git
[submodule "Credentials"]
	path = Credentials
	url = https://github.com/GibbonEdu/module-credentials.git
[submodule "Data Admin"]
	path = Data Admin
	url = https://github.com/SKuipers/module-dataAdmin.git
[submodule "Feed"]
	path = Feed
	url = https://github.com/GibbonEdu/module-feed.git
[submodule "Free Learning"]
	path = Free Learning
	url = https://github.com/GibbonEdu/module-freeLearning.git
[submodule "Help Desk"]
	path = Help Desk
	url = https://github.com/raynichc/helpdesk.git
[submodule "Higher Education"]
	path = Higher Education
	url = https://github.com/GibbonEdu/module-higherEducation.git
[submodule "House Points"]
	path = House Points
	url = https://github.com/SKuipers/gibbon-house-points.git
